CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_D1_TOKEN=

BETTER_AUTH_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_TOKEN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

HUGGING_FACE_TOKEN=
OPENAI_API_KEY=
OPENAI_ORGANIZATION_ID=
OPENAI_PROJECT_ID=
ANTHROPIC_API_KEY=

DOMCZIK_USER_ID=