# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# wrangler files
.wrangler
.dev.vars
.env
dev-dist
secrets.yaml

.tanstack/*

# DB gets rebuilt on both dev and build
public/songDB.json
public/songDB.hash

scripts/__pycache__/*

src/web/routeTree.gen.ts

/*.sql

*.sql