@tailwind utilities;

.bg-image {
    /* the top of the image is actually nicer to get color */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@layer utilities {
    .hide-fancy-switch-label .fancy-switch-label {
        display: none;
    }
}

/* ### actual song ### */
/* chorus settings */
.chorus {
    font-weight: 700;
}

.chorus-section {
    font-weight: bold;
    border-left: solid 3px;
    border-color: hsl(var(--primary));
    padding-left: 1em;
}

/* chord settings */

.above-lyrics {
    /* padding-right: 0.3em; */
}

.chord {
    color: hsl(var(--primary));
    font-weight: 800;
    /* text-shadow: 1px 1px 2px #000000; */
}

.repeated-chords-hidden .repeated-chords .chord {
    display: none;
}

.chord:empty {
    /* hide rows without chords */
    display: none;
}

.chords-hidden .chord {
    display: none;
}

.chord-lyrics {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.force-shown {
    display: inline !important;
}

.chords-hidden .force-shown {
    display: none !important;
}

/* chords-inline mode */
.chords-inline .chord-lyrics {
    flex-direction: row;
}

.chords-inline .chord {
    margin-bottom: 0.5em;
    font-size: 1em;
}

.chords-inline .lyrics {
    align-content: end;
}


/* layout */
#auto-text-size-wrapper>div {
    justify-content: safe center;
    /* Allows vertical scrolling but blocks zoom */
    /* touch-action: pan-y; */
    max-width: 100%;
    font-weight: 600;
}

#actual-contents{
    max-width: 100%;
}

.comment-line {
    line-height: normal;
}

.song-content {
    line-height: 1.1;
    white-space: nowrap;
}

.song-content>.section+.section {
    margin-top: 1.5em;
}

.song-content>.comment-line {
    margin-top: 1em;
    margin-bottom: 1em;
    font-style: italic;
    color: hsl(var(--primary));
    opacity: 80%;
}


.section {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    break-inside: avoid-column;
    width: fit-content;
    /* width: fit-content;
    max-width: 100%; */
}

.lyrics-line {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    max-width: 100%;
}

.fit-screen-none .lyrics-line {
    flex-wrap: wrap;
}


.section-title {
    display: none;
}

.word {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 0.33em;
    /*border: 1px solid red;*/
}

/* this class is added when user toggles the two-column layout */
.song-content-columns>* {
    columns: 2;
    @apply gap-4 sm:gap-8 lg:gap-16;
}

/* misc */
.song-content .literal, .song-content .tab-section {
    color: hsl(var("--text-foreground"));
    font-family: monospace;
    font-size: 0.9em;
    scrollbar-width: none;
}

/* autosizing of tabs and comments */
#dummy-contents .comment-line, #dummy-contents .tab-section {
    width: 0;
}

.comment-line, .tab-section {
    overflow-x: auto;
    overflow-y: clip;
    max-width: 100%;

}

/* make subscript appear under superscript */
.sub-sup-container {
    /* display: inline-flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle; */
    position: relative;
}

.sub-sup-container sup+sub {
    margin-left: -0.6em;
    top: 0.5em;
}

.chord sup {
    /* margin-right: -0.1em; */
}

.empty-line {
    height: 0.75em;
}

.empty-line+.empty-line {
    display: none;
}

.repetition {
    color: hsl(var(--primary));
    /* font-size:larger; */
    font-weight: 100;
}

.fullscreen #inner-background-image {
    display: block;
}