/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar * {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar,
.no-scrollbar * {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.toolbar {
    /* transition: transform 0.3s ease; */
    will-change: transform;
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.250, 1.040);
}

.visible-toolbar {
    transform: translateY(0);
}

.hidden-toolbar {
    transform: translateY(-100%);
}

.song-row-bg-image {
    /* the top of the image is actually nicer to get color */
    /* background-position: center;  */
    background-repeat: no-repeat;
    background-size: cover;
}

.song-row-wrapper {
    transition: all;
}

.progress {
    animation: grow 5s ease-out;
}

@keyframes grow {
    0% {
        stroke-dashoffset: 251.3;
    }
}