

.above-lyrics {
    padding-right: 0.3em;
}

.chord-lyrics:last-child .chord {
    padding-right: 0;
}

.song-content .section-title {
    display: none;
}



/* .repeat-verse-chords-hidden .verse .chord{ */
.repeated-chords-hidden .repeated-chords .chord {
    display: none;
}

.song-content > .section{
    margin: 2em;
}



.song-content .lyrics-line {
    /* display: flex;
    flex-direction: row;
    align-items: flex-end; */
    /* margin-top: 0.1em; */
    /* line-height: 2; */
}

.song-content>* {
    break-inside: avoid-column;
}

.song-content>*:first-child {
    margin-top: 0px;
}

.tab-section {
    color: #008702;
}



#song_content>h1 {
    display: none;
}

#song-content-wrapper {
    margin-bottom: 1.5em;
}

