name: Trigger Worker Sync

on:
  workflow_dispatch:
    inputs:
      full_sync:
        description: 'Run a full sync? (If true, checks all records instead of just the last 7 days)'
        required: true
        default: 'false'
        type: choice
        options:
          - 'true'
          - 'false'

jobs:
  trigger-cloudflare-worker:
    runs-on: ubuntu-latest
    steps:
      - name: Hit Worker Endpoint
        run: |
          curl -X GET "https://domcikuv-zpevnik-v2-backup.domho108.workers.dev/?full=${{ inputs.full_sync }}" \
            -H "Authorization: Bearer ${{ secrets.SYNC_SECRET }}" \
            --fail